<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.client.anyquestion">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnyQuestion">
        <activity
            android:name=".TossActivity"
            android:exported="false" />
        <activity
            android:name=".PayPalActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentSelectActivity"
            android:exported="false" />
        <activity
            android:name=".auth.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".auth.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LogoutActivity"
            android:exported="false" />
        <activity
            android:name=".auth.WithdrawalActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".questioner.QuestionerActivity"
            android:exported="false" />
        <activity
            android:name=".speecher.SpeecherActivity"
            android:exported="false" />
        <activity
            android:name=".base.MainActivity"
            android:exported="false" />
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false"
            android:parentActivityName=".auth.LoginActivity" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".base.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".util.BackgroundService"
            android:stopWithTask="false" />
    </application>

</manifest>